$dr-light-primary: mat-palette($mat-grey, 200, 500, 300);
$dr-light-accent: mat-palette($mat-brown, 200);
$dr-light-warn: mat-palette($mat-deep-orange, 200);

$dr-light-theme: mat-light-theme(
  $dr-light-primary,
  $dr-light-accent,
  $dr-light-warn
);
